#slider-Home {

    .splide__arrow {
        width: 6.25rem;
        height: 100%;
        border-radius: 0;

        img {
            height: 3.125rem;
            max-width: 6.5rem;
        }
        &--prev {
            left: 0;
            background: linear-gradient(to right,rgba(black,.5),rgba(black,0));
        }
        &--next {
            right: 0;
            background: linear-gradient(to left,rgba(black,.5),rgba(black,0));
        }
    }

    .splide__slide {
        width: 100%;
        display: flex;
        justify-content: center;

        .imageWrap {
            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat;
            width: 54.5rem;
            height: 100%;
        }
    }
}

.body {

    &__button {
        display: flex;
        margin: 3em auto;
        width: 30em;
        height: 3em;

        :is(&__tipe1, &__tipe2, &__tipe3) {
            cursor: pointer
        }

        :is(&__tipe1, &__tipe2, &__tipe3):enabled:hover {
            transform: scale(1.1);
            width: 10em;
            height: 3em;
            position: absolute;
            z-index: 1;
        }

        &__tipe1:enabled:hover {
            border: 1px solid black
        }

        &__tipe3:enabled:hover {
            border: 1px solid black
        }

        &__tipe1 {
            background-color: #E07800;
            border: 1px solid black;
            border-right: 0; 
            border-radius: 11px 0 0 11px;
        }

        &__tipe2 {
            color: #DFDFDF;
            background-color: #2AA800;
            border: 1px solid black;
        }

        &__tipe3 {
            color: #A3A3A3;
            background-color: #C46900;
            border: 1px solid black;
            border-left: 0;
            border-radius: 0 11px 11px 0;
        }
    }

    &__button a {
        width: 100%;
        text-decoration: none;
    }

    &__button button {
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
    }

    &__button button:disabled::after {
        content: "(Coming Soon)";
        font-size: .95em
    }

    &__content {
        width: 100%;
    }
    &__content__house {
        padding: 5%;
        width: 50%;
        height: 68vh;
        float: left;
    }
    &__content__spec {
        padding: 6% 5%;
        float: left;        
    }
    &__content__spec__title{
        display: flex;
        justify-content: center
    }
    &__content__house div:hover {
        transform: scale(1.065);
        cursor: pointer
    }
    &__content__house div {
        display: flex;
        justify-content: center;
    }
    &__content div div {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__content img {
        height: 100%;
    }
}