.intro {

    &__description {
        display: grid;
        place-content: center;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: white;

        p {
            width: 32.9375rem;
            font-size: 32px;
            text-align: center;
            text-shadow: 2px 2px 4px rgba(black, .5);
        }

        p:hover {
            visibility: hidden;
        }
    }
}

#slider-Home {

    .splide__arrow {
        width: 6.25rem;
        height: 100%;
        border-radius: 0;

        img {
            height: 3.125rem;
            max-width: 6.5rem;
        }
        &--prev {
            left: 0;
            background: linear-gradient(to right,rgba(black,.5),rgba(black,0));
        }
        &--next {
            right: 0;
            background: linear-gradient(to left,rgba(black,.5),rgba(black,0));
        }
    }

    .splide__slide {
        width: 100%;
        display: flex;
        justify-content: center;

        .imageWrap {
            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat;
            width: 54.5rem;
            height: 100%;
        }
    }
}

.body {

    &__backgroundImg {
        position: absolute;
        z-index: -1;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 396px;

        img {
            width: 77.6875rem;
            opacity: 70%;
        }
    }

    &__button {
        display: flex;
        margin: 3em auto;
        width: 47.075rem;
        height: 5.25rem;

        :is(&__tipe1, &__tipe2, &__tipe3) {
            cursor: pointer
        }

        &__tipe1 {
            background-color: #E07800;
            border: 1px solid black;
            border-right: 0; 
            border-radius: 11px 0 0 11px;
        }

        &__tipe2 {
            color: #DFDFDF;
            background-color: #2AA800;
            border: 1px solid black;
        }

        &__tipe3 {
            color: #A3A3A3;
            background-color: #C46900;
            border: 1px solid black;
            border-left: 0;
            border-radius: 0 11px 11px 0;
        }
    }

    &__button a {
        width: 100%;
        text-decoration: none;
    }
    
    &__button button {
        font-size: 24px;
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
    }

    &__button button:disabled::after {
        content: "(Coming Soon)";
        font-size: .95em
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 75px;
    }
    &__content__house {
        margin: 0 auto;
        background-size: cover;
        width: 23.125rem;
        height: 23.125rem;
        box-shadow: 4px 4px 5.4px rgba(black,.38);
    }
    &__content__house:hover {
        transform: scale(1.065);
        cursor: pointer
    }
    &__content__spec {
        font-size: 20px;
        padding: 6% 5%;
        float: left;        
    }
    &__content__spec__title{
        display: flex;
        justify-content: center
    }
}

.promotion {
    font-size: 20px;

    &__title {
        text-align: center;
    }
}

.klausal {
    font-size: 24px;
    padding: 0 96px 22px;

    &__title {
        text-align: center;
    }
}

.fullscreenMode {
    min-width: 100%;
    min-height: 100%;
    display: none;
    padding: 50px;
    position: fixed;
    z-index: 3;
    background-color: rgba(black, .5);
    place-content: center;
    overflow: auto;

    img {
        transform: translateY(-1.7375rem);
    }
}

.closeFullscreenMode {
    display: grid;
    place-content: center;
    width: 3.475rem;
    height: 3.475rem;
    font-size: 5rem;
    font-weight: 900;
    color: white;
    position: relative;
    left: -1.7375rem;
    z-index: 4;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 50%;
}

.fullscreenMode.active {
    display: grid;
}

// Media Queries
@media (max-width: 894px) {
    
    .body {

        &__button {
            margin-bottom: 100px;
        }

        &__content {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 100px;
        }
    }
}