*, *::before, *::after {
    box-sizing: border-box;
}

.a--white {
    color: white;
}

body {
    font-family: 'Inter';
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    
    &__menu {
        margin-top: .3125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10rem;

        div {
            width: 17.0212rem;
            min-height: 9.75rem;
        }
    }

    &__logo:first-of-type {
        
        img {
            max-height: 9.75rem;
        }
    }

    &__logo:last-of-type {
        
        img {
            max-height: 9.125rem;
        }
    }

    &__background {
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: -1;

        img:first-of-type {
            width: 20.8594rem;
        }

        img:not(:first-of-type) {
            width: 13.25rem;
        }

        img:nth-of-type(2) {
            margin-top: -3.1875rem;
        }

        img:nth-of-type(3) {
            margin-top: -3.5rem;
        }
    }
}

.footer {
    background-color: #D9D9D9;

    &__div1 {
        display: flex;
        justify-content: space-between;
    }

    &__div2 {
        color: #464646;
        font-style: italic;
    }
}