*, *::before, *::after {
    box-sizing: border-box;
}

.a--white {
    color: black;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: rgb(145, 145, 145);
}