*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 70px;

    &__menu {
        margin-top: .3125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10rem;

        div {
            width: 17.0212rem;
            min-height: 9.75rem;
        }
    }

    &__logo:first-of-type {
        
        img {
            max-height: 9.75rem;
        }
    }

    &__logo:last-of-type {
        
        img {
            max-height: 9.125rem;
        }
    }

    &__background {
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: -1;

        img:first-of-type {
            margin-left: -30px;
            margin-top: -52px;
            width: 20.8594rem;
            rotate: 20.75deg;
        }

        img:not(:first-of-type) {
            width: 13.25rem;
            height: 13.25rem;
        }

        img:nth-of-type(2) {
            margin-top: -51px;
            margin-right: 90px;
        }

        img:nth-of-type(3) {
            margin-top: -56px;
            margin-right: -70px;
        }
    }
}

.footer {
    background-color: #D9D9D9;

    i {
        color: white;
    }

    &__div1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            font-size: 2rem;
            margin-top: 3px;
            margin-bottom: 15px;
        }

        span:first-of-type {
            padding: 30px;
            padding-right: 0;
        }

        span:last-of-type {
            padding: 30px;
            padding-left: 0;
        }

        span:not(:first-of-type,:last-of-type) {
            padding: 30px;
        }
    }

    &__div2 {
        color: #464646;
        font-style: italic;
        text-align: center;

        &__disclaimer {
            margin-top: 127px;
            margin-bottom: 23px;
        }
        &__copyright {
            margin-bottom: 53px;
        }
    }

    &__contacts {

        p {
            text-decoration: underline;
        }

        a {
            color: black;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }

    &__socmed {

        &__brands {
            display: flex;
            width: 15.5rem;
            justify-content: space-between;
        }

        a {
            color: white;
        }
    }

    &__bank {

        img {
            width: 15.625rem;
        }
    }

    &__socmed, &__gmaps, &__bank {
        
        p {
            text-align: center;
            text-decoration: underline;
        }
    }
}

// Media Queries
// @media (max-width: ) {

// }