*, *::before, *::after {
    box-sizing: border-box;
}

.a--white {
    color: white;
}

body {
    font-family: 'Inter';
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    
    &__menu {
        margin-top: .3125rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 10rem;

        div {
            width: 17.0212rem;
            min-height: 9.75rem;
        }
    }

    &__logo:first-of-type {
        
        img {
            max-height: 9.75rem;
        }
    }

    &__logo:last-of-type {
        
        img {
            max-height: 9.125rem;
        }
    }
}

.footer {
    background-color: #D9D9D9;

    &__div1 {
        display: flex;
        justify-content: space-between;
    }

    &__div2 {
        color: #464646;
        font-style: italic;
    }
}